.row{
 display: flex;
}
.box{
display: flex;
border:1px solid rgb(172, 172, 172);
width: 50px;
height: 50px;
cursor:default;
}
.start{
    background-color: aqua;
    border-radius: 50%;
}
.end{
    background-color: black;
    border-radius: 50%;
}
.visited{
    background-color:rgb(144, 173, 255);
}
.visited2{
    background-color: rgb(154, 111, 255);
}
.blocked{
    background-color: yellowgreen;
}
.blockedTwenty{
    background-color: rgb(255, 60, 0);
}
.blockedFive{
    background-color: rgb(255, 174, 0);
}